html{
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: epilogue;
    font-weight: 700;
}
.link-features ul li img{
    margin-right: 6px;
}
li{
    list-style: none;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: var(--medium-gray);
    transition: 0.3s ease-in-out;
    font-weight: 500;
    font-family: epilogue;
}

#header{
    display: flex;
    align-items: center;
    padding: 2rem;
    justify-content: space-evenly;

}
#header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.center-links{
    display: flex;
    justify-content: center;
    margin-left: 2rem;
}
.right ul{
    display: flex;
    list-style: none;
}
.right ul li{
margin-right: 10px;
}
.right ul li:nth-of-type(2) a{
    border: 2px solid var(--medium-gray);
    padding: 8px 13px;
    border-radius: 14px;
}

.container h3{
    font-size: 2rem;
    margin:0 4rem ;
    color: var(--almost-black);
}

.container .link-block{
    margin: 0 10px;
}

#header a:hover{
    color: var(--almost-black);
}

.link-features ul li{
    /* padding: 7px; */
    font-size: 15px;
    margin-bottom: 6px;
    font-weight: normal;
}
.link-company ul li{
    /* padding: 7px; */
    margin-bottom: 7px;
    font-size: 15px;
    font-weight: normal;
}
.link-features ul, .link-company ul{
    margin-top: 5px;
    padding: 10px;
    box-shadow: 3px 3px 5px #ccc, -3px -3px 5px #ccc;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    width: 130px;
    z-index: 3;
}

/* {
  max-height: 100%;
  overflow: visible;
} */
.link-features:hover .features-d{
    max-height: 200px;
    opacity: 1;
    transition: max-height 0.3s ease-in-out;
}
.link-company:hover .company-d{
    max-height: 200px;
    opacity: 1;
    transition: max-height 0.3s ease-in-out;
}
.link-company ul li, .link-features ul li{
    color: var(--medium-gray);
    font-family: lato;
}
.link-company, .link-features{
    position: relative;
}

main .left{
max-width: 400px;
}
.left h1{
    font-size: 2.5rem;
}
.cta{
    padding: 10px 15px;
    background-color: var(--almost-black);
    color: var(--almost-white);
    border: none;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
}
.left .center p{
    line-height: 1.5;
    margin-bottom: 15px;
    color: var(--medium-gray);
    font-weight: normal;
}
.center{
    margin: 1.5rem 0;
}
.clients{
display: flex;
align-items: center;
justify-content: space-around;
width: 100%;
}
main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* max-width: 900px; */
    margin: 4rem auto;

}
main .right img{
    max-width: 280px;
}
main .right {
    margin-left: 2rem;
    height: 350px;
    width: 350px;
    background-image: url(images/image-hero-desktop.png);
    background-size: cover;
}
img{
    max-width: 100%;
}
.fa-bars{
    font-size: 20px;
    color: var(--almost-black);
    display: none !important;
}


/*-------responsive design--------*/
@media(max-width: 920px) {
    main{
        flex-direction: column-reverse;
        margin-top: 3rem;
    }
    main .left{
        text-align: center;

    }
    main .right{
        background-image: url(images/image-hero-desktop.png);
        max-width: 400px;
        margin-bottom: 2rem;
        margin: 2rem auto;
    }
    
}

@media(max-width: 880px) {
    #header .container{
        /* display: none; */
    }
    #header .right{
        display: none;
    }
    .fa-bars{
        display: block !important;
        cursor: pointer;
    }
}
@media(max-width: 500px) {
    .clients{
        flex-direction: column;
    }
    .clients img{
        margin: 10px 0; 
    }
 main .right{
    max-width: 300px;
    background-image: url(images/image-hero-mobile.png);
 }
 main .left{
    width: 80%;
 }   
#header{
    justify-content: space-around;
}
}
/* #header{
    position: relative;
}
#header .container {
    display: block;
    position: absolute;
} */